@import 'styles/colors.module';
@import 'styles/colors.module';
@import "styles/mixins";

.container {
    @include flex_center();
    width: 100%;
    padding-bottom: 10px;

}

.formWithButton{
    & > button {
        width: 200px;
        margin: 0 auto;
        background-color: $background-button-secondary;
    }
}
