@import 'styles/colors.module';
@import 'styles/fonts.module';
@import 'styles/variables.module';
@import 'styles/mixins';

.form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    .cardElement {
        display: block;
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;

        & > h3 {
            @include text($openSans, 700, $mediumFontSize, $primary-color);
            margin-bottom: 20px;
        }
    }

    .button {
        display: block;
        width: 100%;
        padding: 10px 15px;
        background-color: #0277bd;
        color: $button-primary;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}
