@import 'styles/colors.module';
@import 'styles/fonts.module';
@import 'styles/variables.module';
@import 'styles/mixins';

.inputField {
    @include text($openSans, 400, $smallFontSize, $secondary-color);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: $secondary-color 1px solid;
}
