@import 'styles/colors.module';
@import 'styles/fonts.module';
@import 'styles/variables.module';
@import 'styles/mixins';

.inputField {
    display: flex;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    @include text($openSans, 400, $smallFontSize, $secondary-color);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: $primary-color-hover 1px solid;

     & :focus {
        @include input-focus();
    }
}
