@import 'styles/colors.module';
@import 'styles/fonts.module';
@import 'styles/variables.module';

@mixin text($ff, $fw, $fs, $c) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    color: $c;
}

@mixin flex_center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin form-container() {
    @include flex_center();
    width: 100%;
    flex-direction: column;
    padding: 10px;

    & > h3 {
        @include text($openSans, 700, $mediumFontSize, $primary-color);
        margin-bottom: 20px;
    }
}

@mixin form-element() {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

@mixin card-element() {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid $background-card;
    border-radius: 4px;
}

@mixin input-focus() {
    outline: none;
    border-color: $button-primary;
    box-shadow: 0 0 10px $button-primary;
}
