$primary-color: #0070f3;
$secondary-color: #797779;
$primary-color-hover: #0069d9;

$color-error: #ff0000;
$background-color-error: #ffe6e6;

$background-secondary: #0277bd;
$background-primary: #fffcf6;
$background-card: #ccc;
$background-button-secondary: #2b435e;

$text-secondary: #797779;
$text-primary: #4a494a;

$button-primary: white;
$button-primary-hover: #4a494a;



