$primary-color: #0070f3;
$primary-color-hover: #0069d9;

$background-secondary: #0277bd;
$background-primary: #fffcf6;
$background-card: #ccc;

$text-secondary: #797779;
$text-primary: #4a494a;

$button-primary: white;
$button-primary-hover: #4a494a;


